<div class="posts">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4 col-xl-3" style="margin-top: 50px;">
            <div class="card">
                <img src="/assets/banana.png" alt="" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Banana</h5>
                    <ul class="list-group">
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="posts">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4 col-xl-3" style="margin-top: 50px;">
            <div class="card">
                <img src="/assets/cebollas.png" alt="" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Cebollas</h5>
                    <ul class="list-group">
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="posts">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4 col-xl-3" style="margin-top: 50px;">
            <div class="card">
                <img src="/assets/lechuga.png" alt="" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Lechuga</h5>
                    <ul class="list-group">
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="posts">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4 col-xl-3" style="margin-top: 50px;">
            <div class="card">
                <img src="/assets/papas.png" alt="" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Papas</h5>
                    <ul class="list-group">
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="posts">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4 col-xl-3" style="margin-top: 50px;">
            <div class="card">
                <img src="/assets/pimenton.png" alt="" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Pimenton</h5>
                    <ul class="list-group">
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="posts">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4 col-xl-3" style="margin-top: 50px;">
            <div class="card">
                <img src="/assets/tomate.png" alt="" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Tomate</h5>
                    <ul class="list-group">
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>