{{#each productos}}
<a href="/{{this}}"> <button class="btn btn-{{this}}">{{this}}</button>
</a>
{{/each}}

{{!-- <ul>
    {{!-- Paso 4 --}}
    {{#each productos}}
    <li>${{this}}</li>
    {{/each}}
</ul> --}}